<% if (page.categories && page.categories.length){ %>
<span class="categories">
  <%- list_categories(page.categories, {
    show_count: false,
    class: 'category',
    style: 'none',
    separator: ', '
  }) %>
</span>
<% } %>
