<% if (site.posts.length){ %>
<section>
  <h1><%= __('recent_comments') %></h1>
  <script type="text/javascript" src="http://erdangjia.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=48&excerpt_length=200&hide_mods=0"></script>
</section>
<% } %>
