figure{
    position: relative;
}

#global-zeroclipboard-html-bridge{
    background:none;
    border-bottom:none;
}

.widget-codetool {
    position: absolute;
    opacity: 0.99;
    top: 0;
    right: 0;
}
.widget-codetool button {
    margin-left: 5px;
    color: #fff;
    background-color: #333;
    background-color: rgba(0,0,0,0.75);
}
.zeroclipboard-is-hover, .zeroclipboard-is-active {
    background: #999;
}
.btn {
    outline: none;
}
.btn-xs, .btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    -webkit-appearance: button;
    cursor: pointer;
}
button {
    text-transform: none;
}
button {
    overflow: visible;
}
button {
    color: inherit;
    font: inherit;
    margin: 0;
}
