<h1><a href="<%- url_for(post.link) %>"><%= post.title %></a></h1>
<time datetime="<%= date_xml(post.date) %>" pubdate><%= date(post.date, "<span class='month'>MMM</span> <span class='day'>D</span> <span class='year'>Y</span>") %></time>
<% if (page.categories.size != 0) {%>
<footer>
  <span class="categories">posted in {{ post.categories | category_links }}</span>
</footer>
<% } %>
