<%
  var title = page.title, last, now = date(Date.now(), 'YYYY');

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('categories') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tags') + ': ' + page.tag;
  }
  %>
<div>
<article role="article">
  <header>
    <h1 class="entry-title"><%= title %></h1>
  </header>
  <div id="blog-archives" class="category">
  <% page.posts.each(function(post, i){ %>
  <% var year = post.date.year(); %>
  <% if (year != last && year != now){ %>
    <% last = year; %>
    <h2><%= year %></h2>
  <% } %>
  <article>
    <%- partial('_partial/archive-post', {post: post}) %>
  </article>
  <% }) %>
  </div>

</article>
</div>

<% if (theme.sidebar){ %>
  <aside class="sidebar">
    <% theme.widgets.forEach(function(widget){ %>
      <%- partial('_widget/' + widget) %>
    <% }) %>
  </aside>
<% } %>
