body
  line-height 1.5em
  color #222
  & > div
    background #f2f2f2 url('/images/noise.png?1425807048') top left
    border-bottom 1px solid #bfbfbf
    & > div
      background #f8f8f8 url('/images/noise.png?1425807048') top left
      border-right 1px solid #e0e0e0
  & > header
    h1
      font-size 2.2em
      font-family "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif
      font-weight normal
      line-height 1.2em
      margin-bottom 0.6667em
    h2
      font-family "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif
.heading,body>header h1,h1,h2,h3,h4,h5,h6
  font-family "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif
.sans,body>header h2,article header p.meta,article>footer,#content .blog-index footer,html .gist .gist-file .gist-meta,#blog-archives a.category,#blog-archives time,aside.sidebar section,body>footer
  font-family "PT Sans","Helvetica Neue",Arial,sans-serif
.serif,body,#content .blog-index a[rel=full-article]
  font-family "PT Serif",Georgia,Times,"Times New Roman",serif
.mono,pre,code,tt,p code,li code
  font-family Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace
h1
  font-size 2.2em
  line-height 1.2em
  font-size 2.6em
  line-height 1.2em
@media only screen and (min-width: 992px)
  body
    font-size 1.15em
  h1
    font-size 2.6em
    line-height 1.2em
body
  & > header
    font-size 1em
    padding-top 1.5em
    padding-bottom 1.5em


body
  & > header
    background #333
    h1
      display inline-block
      margin 0
    h2
      margin .2em 0 0
      font-size 1em
      color #aaa
      font-weight normal
  & > nav
    position relative
    background-color #ccc
    background url('/images/noise.png?1425807048'),-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(50%, #cccccc), color-stop(100%, #b0b0b0))
    background url('/images/noise.png?1425807048'),-webkit-linear-gradient(#e0e0e0,#cccccc,#b0b0b0)
    background url('/images/noise.png?1425807048'),-moz-linear-gradient(#e0e0e0,#cccccc,#b0b0b0)
    background url('/images/noise.png?1425807048'),-o-linear-gradient(#e0e0e0,#cccccc,#b0b0b0)
    background url('/images/noise.png?1425807048'),linear-gradient(#e0e0e0,#cccccc,#b0b0b0)
    border-top 1px solid #f2f2f2
    border-bottom 1px solid #8c8c8c
    padding-top .35em
    padding-bottom .35em
    form
      -webkit-background-clip padding
      -moz-background-clip padding
      background-clip padding-box
      margin 0
      padding 0
      .search
        padding .3em .5em 0
        font-size .85em
        font-family "PT Sans","Helvetica Neue",Arial,sans-serif
        line-height 1.1em
        width 95%
        -webkit-border-radius 0.5em
        -moz-border-radius 0.5em
        -ms-border-radius 0.5em
        -o-border-radius 0.5em
        border-radius 0.5em
        -webkit-background-clip padding
        -moz-background-clip padding
        background-clip padding-box
        -webkit-box-shadow #d1d1d1 0 1px
        -moz-box-shadow #d1d1d1 0 1px
        box-shadow #d1d1d1 0 1px
        background-color #f2f2f2
        border 1px solid #b3b3b3
        color #888
        &:focus
          color #444
          border-color #80b1df
          -webkit-box-shadow #80b1df 0 0 4px,#80b1df 0 0 3px inset
          -moz-box-shadow #80b1df 0 0 4px,#80b1df 0 0 3px inset
          box-shadow #80b1df 0 0 4px,#80b1df 0 0 3px inset
          background-color #fff
          outline none
    fieldset[role=search]
      float right
      width 48%
    fieldset
      &.mobile-nav
        float left
        width 48%
        select
          width 100%
          font-size .92em
          border 1px solid #888
    ul
      display none
body>header h1 a,body>header h1 a:visited,body>header h1 a:hover
  color #f2f2f2
  text-decoration none
@media only screen and (min-width: 550px)
  body
    & > nav
      font-size .9em
      ul
        margin 0
        padding 0
        border 0
        overflow hidden
        *zoom 1
        float left
        display block
        padding-top .15em
        li
          list-style-image none
          list-style-type none
          margin-left 0
          white-space nowrap
          display inline
          float left
          padding-left 0
          padding-right 0
          margin 0
          &:last-child
            padding-right 0
          &.last
            padding-right 0
        &.subscription
          margin-left .8em
          float right
          li
            &:last-child
              a
                padding-right 0
      a
        color #6b6b6b
        font-family "PT Sans","Helvetica Neue",Arial,sans-serif
        text-shadow #ebebeb 0 1px
        float left
        text-decoration none
        font-size 1.1em
        padding .1em 0
        line-height 1.5em
        &:visited
          color #6b6b6b
        &:hover
          color #101010
      li
        & + li
          border-left 1px solid #b0b0b0
          margin-left .8em
          a
            padding-left .8em
            border-left 1px solid #dedede
      form
        float right
        text-align left
        padding-left .8em
        width 175px
        .search
          width 93%
          font-size .95em
          line-height 1.2em
      ul[data-subscription$=email]
        & + form
          width 97px
          .search
            width 91%
      fieldset
        &.mobile-nav
          display none
      fieldset[role=search]
        width 99%
  body>nav ul li:first-child,body>nav ul li.first
    padding-left 0
@media only screen and (min-width: 992px)
  body
    & > nav
      form
        width 215px
      ul[data-subscription$=email]
        & + form
          width 147px
.no-placeholder
  body
    & > nav
      .search
        background #f2f2f2 url('/images/search.png?1425807049') 0.3em 0.25em no-repeat
        text-indent 1.3em
